
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>footer</title>
</head>
<body>
    <div class="footer-hd">
        <p>
            <a href="#">Orange科技</a>
            <b>|</b>
            <a href="../Commodity/Index">商城首页</a>
            <b>|</b>
            <a href="#">支付宝</a>
            <b>|</b>
            <a href="#">物流</a>
        </p>
    </div>
    <div class="footer-bd">
        <p>
            <a href="#">关于Orange</a>
            <a href="#">合作伙伴</a>
            <a href="#">联系我们</a>
            <a href="#">网站地图</a>
            <em>© 2015-2025 www.ww1835.top 版权所有. </em>
        </p>
    </div>
</body>
</html>
