
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>left</title>
</head>
<body>
    <aside class="menu">
        <ul>
            <li class="person active">
                <a href="Index">个人中心</a>
            </li>
            <li class="person">
                <a href="#">个人资料</a>
                <ul>
                    <li> <a href="../Person/information">个人信息</a></li>
                    <li> <a href="../Person/saftey">安全设置</a></li>
                    <li> <a href="../Person/address">收货地址</a></li>
                </ul>
            </li>
            <li class="person">
                <a href="#">我的交易</a>
                <ul>
                    <li><a href="../Person/order">订单管理</a></li>
                    <li> <a href="../Person/change">退款售后</a></li>
                </ul>
            </li>
            <li class="person">
                <a href="#">我的资产</a>
                <ul>
                    <li> <a href="../Person/coupon">优惠券 </a></li>
                    <li> <a href="../Person/bonus">红包</a></li>
                    <li> <a href="../Person/bill">账单明细</a></li>
                </ul>
            </li>

            <li class="person">
                <a href="#">我的小窝</a>
                <ul>
                    <li> <a href="../Person/collection">收藏</a></li>
                    <li> <a href="../Person/foot">足迹</a></li>
                    <li> <a href="../Person/comment">评价</a></li>
                    <li> <a href="../Person/news">消息</a></li>
                </ul>
            </li>

        </ul>

    </aside>
</body>
</html>
